body{
	font-family: 'Fira Sans', sans-serif;
	color: #8F8F8F;
	font-size: 18px;
	
}

button {
	display: block;
	border: none;
	background: transparent;
}
.static {
	position: static;
}
h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: 700;
	color: #151515;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 39px;
}
h3 {
	font-size: 22px;
}
.btn {
	background: #000000;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.36em;
	padding: 13px 30px;
	display: inline;
	border-radius: 0;
	transition: all 0.5s ease;
}
.btn:hover {
	background: #333;
	color: #ffffff;
}

.header {
	height: 95vh;
}

.nav {
	padding-top: 58px;
	margin-bottom: 127px;
}

.logo {

}

.search {

}

.menu {

}

.offer-cont__title {
	font-size: 60px;
	letter-spacing: -0,01em;
	line-height: 1.2em;
}

.offer-cont__text {
	margin:30px 0 56px;
}

.offer-cont__btn {
	
}

.loader {
	margin-top: 200px;
}

.hero {
	background: url('../img/hero.jpg') no-repeat center top;
	width: 49%;
	height: 90vh;
	position: absolute;
	right: 0;
	top: 142px;
}

.video {
	position: absolute;
	left: -120px;
	bottom: 10%;
	width: 50%;
	height: 44%;
	background: url('../img/hero_video.jpg') no-repeat center center;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
	background-size: cover;
}

.video:after{
	content:'';
	display: block;
	background: url('../img/icon/play_btn_primary.svg') no-repeat;
	width: 65px;
	height: 65px;
}

.about {
	padding-top: 250px;
}

.about_section {
	
}

.about_section__title {
	margin-top: 37px;
	margin-bottom: 30px;
}

.about_section__text {
	margin-top: 30px;
	line-height: 28px;
	width: 445px;
}

.section-title__label {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.3em;
	color: #222222;
	margin-bottom: 40px;
}


.videos {
	padding-top: 142px;
}

.videos-carousel .item, .videos-carousel .owl-item {
	height: 500px !important;
	width: 825px !important;
	position: relative;
}

.owl-theme .owl-nav {
    margin-top: 50px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav{
	text-align: left;
}

.owl-theme .owl-nav [class*=owl-] {
	margin: 0;
}

.videos-carousel {
	margin-top: 60px;
}

@media screen and (min-width: 992px) {
	.videos-carousel .item, .videos-carosel .owl-item {
		width: 825px !important;
		position: relative;
	}
}

.videos-carousel .owl-nav {
	margin-top: 50px !important;
}

.videos-carousel .owl-prev {
	margin-right: 25px !important;
}

.videos-carousel__play {
	display: block;
	background: url(../img/icon/play_btn_secondary.svg);
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	cursor: pointer;
}

.collage {
	padding-top: 181px;
	width: 50%;
	height: 65%;
	background: url(../img/works_1.jpg) no-repeat left top / 80% 70%;
	position: absolute;
	left: 0;

}

.collage img {
	display: block;
	width: 350px;
	height: 453px;
	position: absolute;
	top: 100px;
	right: 0;
	bottom: 0;
	box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
}

.how_it_works {
	margin-top: 181px;
}

.works {
	margin-left: 65px;
	margin-top: 30px;
}

.works__title {
	margin-bottom: 80px;
}

.works__text {
	margin-bottom: 52px;
	letter-spacing: 0.01em;
	line-height: 28px;
}

.portfolio {
	padding-top: 283px;
}

.portfolio-tabs {
	padding-top: 58px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 24px;
	padding-left: 0;
}

.portfolio-tabs__item {
	list-style: none;
	color: #222222;
}

.portfolio-tabs__item a {
	text-decoration: none;
	color: #8D8D8D;
}

.portfolio-tabs__item.active a {
	color: #222222;
}

.portfolio-wrap {
	margin-top: 108px;
	flex-wrap: wrap;
}

.portfolio-wrap__item {
	margin-bottom: 30px;
	display: block;
	position: relative;
}

.portfolio-wrap__item img {
	transition: all 0.3s ease;
	display: block;
}

.portfolio-wrap__item:hover img {
	box-shadow: -30px 80px 200px rgba(0,0,0,0.25)
	-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

.portfolio-wrap__item:hover:after {
	content:'';
	display: block;
	background: url(../img/play.svg);
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
}

.tabs__content {
	display: none !important;
  }

.tabs__content.active {
	display: flex !important;  
}

.portfolio-content {
	margin-top: 30px;
}

.portfolio-cont__btn {
	
}

.contributor {
	margin-top: 121px;
}

.contributor__title {
	margin-bottom: 20px;

}

.cont-photo {
	display: block;
}

.contributor-carousel .owl-nav {
	display: flex;
	margin-top: -50px;
	position: relative;
}

.contributor-carousel .owl-prev {
	margin-right: 25px;
}

.footer {
	height: 240px;
	background: #515151;
	margin-top: 136px;
}

.footer-menu {

}

.footer-menu__item {
	list-style: none;
}

.footer-menu__item a {
	color: #ffffff;
}

.comments {
	margin-top: 256px;
}

.footer-input {
	width: 170px;
	height: 36px;
	text-indent: 20px;
	margin-right: 20px;	
}

.section-footer {

}

.footer-submit__btn {
	height: 37px;
	padding: 0px 5px;
}

.footer-content {
	margin-top: 54px;
}

.footer-devider {
	margin-top: 37px;
	border-top: 1px solid #BEBEBE;
}

.social-row {
	margin-top: 30px;
}

.social-row__item {
	margin-left: 17px;
}

.footer-menu__item:hover a {
	text-decoration: none;
	color: #BEBEBE;
}
@media screen and (max-width: 1200) {
	.portfolio-tabs {
		margin-left: 0;
	}
	.portfolio-wrap__item {
		width: 30%;
	}
	.portfolio-wrap__item img {
		display: block;
		width: 100%;
	}
	.contributor-carousel .owl-nav {
		margin-top: 0px;
	}
	.section-title__heading_review {
		font-size: 20px;
	}
}

@media screen and (max-width: 720px) {
	.hero {
		position: relative;
	    width: 100%;
	    height: 200px;
	    top: 0;
	        margin-top: 60px;
	}
	.vh-dependent {
	    height: auto;
	    display: flex;
	    align-items: center;
	}
	.about {
		margin-top: 60px;
	}
	.collage {
		position: relative;
    	width: 100%;
	}
	.collage img{
		position: relative;
	}
	.works {
		margin-left: 0;
		margin-top: 110px;
	}
	.works__title {
		margin-bottom: 30px;
	}
	.portfolio {
		padding-top: 80px;
	}
	.contributor-carousel .owl-nav {
		margin-top: 40px;
	}
}

@media screen and (max-width: 576px) {

	.portfolio-wrap__item {
		width: 100%;
		margin-bottom: 40px;
	}
	.portfolio-tabs {
		flex-direction: column
	}
	.portfolio-tabs__item {
		margin-bottom: 40px;
	}
	.footer-content {
		margin-top: 14px;
		text-align: center;
	}
	.footer-form {
		justify-content: center !important;
	}
	.social-row {
		margin-top: 20px;
	}
	.section-title__heading_review {
		font-size: 27px;
		padding: 20px;
	}
	.contributor {
		margin-top: 80px;
	}
	.comments {
		margin-top: 80px;
	}
	.videos {
		padding-top: 80px;
	}
	.logo {
		width: 80%;
	}
	.loader {
		margin-top: 80px;
	}
	.how_it_works {
		margin-top: 80px;
	}
}
